# SQL 2 Assignment

In [1]:
#Read the csv file at the specified location into a DataFrame. Header=None specifies that first row is not header
import pandas as pd
pdTab=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',header=None,skipinitialspace=True)

In [2]:
pdTab

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
#Assign the new column names 
columnList= ['Age','workclass',
'fnlwgt', 'education',
'education-num','marital-status',
'occupation','relationship',
'race','sex','capital-gain',
'capital-loss','hours-per-week','native-country','label']
pdTab.columns = columnList

In [4]:
pdTab

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# Task:
#1. Create an sqlalchemy engine using a sample from the data set
#2. Write two basic update queries
#3. Write two delete queries
#4. Write two filter queries
#5. Write two function queries

In [6]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

#Creating sqlalchemy engine
eng=create_engine("sqlite:///:memory:",echo=True)

In [18]:
#Constructing Table metadata for the above Dataframe and creating a Table object which represents the Table
from sqlalchemy import Integer,String,Column

Base = declarative_base()

class Adult(Base):
    __tablename__ ='adults'
    
    Age = Column(Integer,primary_key=True)
    workclass = Column(String)
    fnlwgt = Column(Integer)
    education = Column(String)
    educationnum = Column(Integer)
    maritalstatus = Column(String)
    occupation = Column(String)
    relationship = Column(String)
    race = Column(String)
    sex = Column(String)
    capitalgain = Column(Integer)
    capitalloss = Column(Integer)
    hoursperweek = Column(Integer)
    nativecountry = Column(String)
    label = Column(String)
    
    def __repr__(self):
        return "<Adult(Age='%d',workclass='%s',fnlwgt='%d',education='%s',educationnum='%d',maritalstatus='%s',+\
        occupation='%s',relationship='%s',race='%s',sex='%s',capitalgain='%d',capitalloss='%d',hoursperweek='%d',+\
        nativecountry='%s',label='%s')>" % (
        self.Age,self.workclass,self.fnlwgt,self.education,self.educationnum,self.maritalstatus,self.occupation,\
        self.relationship,self.race,self.sex,self.capitalgain,self.capitalloss,self.hoursperweek,self.nativecountry,self.label)

In [19]:
#Table Metadata
Adult.__table__

Table('adults', MetaData(bind=None), Column('Age', Integer(), table=<adults>, primary_key=True, nullable=False), Column('workclass', String(), table=<adults>), Column('fnlwgt', Integer(), table=<adults>), Column('education', String(), table=<adults>), Column('educationnum', Integer(), table=<adults>), Column('maritalstatus', String(), table=<adults>), Column('occupation', String(), table=<adults>), Column('relationship', String(), table=<adults>), Column('race', String(), table=<adults>), Column('sex', String(), table=<adults>), Column('capitalgain', Integer(), table=<adults>), Column('capitalloss', Integer(), table=<adults>), Column('hoursperweek', Integer(), table=<adults>), Column('nativecountry', String(), table=<adults>), Column('label', String(), table=<adults>), schema=None)

In [20]:
#Creating the Adult Table
Base.metadata.create_all(eng)

2018-08-22 21:43:33,293 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2018-08-22 21:43:33,309 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-08-22 21:43:33,313 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2018-08-22 21:43:33,317 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-08-22 21:43:33,325 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adults")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("adults")

2018-08-22 21:43:33,329 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-08-22 21:43:33,337 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adults (
	"Age" INTEGER NOT NULL,
	workclass VARCHAR,
	fnlwgt INTEGER,
	education VARCHAR,
	educationnum INTEGER,
	maritalstatus VARCHAR,
	occupation VARCHAR,
	relationship VARCHAR,
	race VARCHAR,
	sex VARCHAR,
	capitalgain INTEGER,
	capitalloss INTEGER,
	hoursperweek INTEGER,
	nativecountry VARCHAR,
	label VARCHAR,
	PRIMARY KEY ("Age")
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE adults (
	"Age" INTEGER NOT NULL,
	workclass VARCHAR,
	fnlwgt INTEGER,
	education VARCHAR,
	educationnum INTEGER,
	maritalstatus VARCHAR,
	occupation VARCHAR,
	relationship VARCHAR,
	race VARCHAR,
	sex VARCHAR,
	capitalgain INTEGER,
	capitalloss INTEGER,
	hoursperweek INTEGER,
	nativecountry VARCHAR,
	label VARCHAR,
	PRIMARY KEY ("Age")
)

2018-08-22 21:43:33,341 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-08-22 21:43:33,345 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [25]:
#Creating a new session and binding it to the Engine
from sqlalchemy.orm import sessionmaker
newSession=sessionmaker(bind=eng)

In [27]:
newSessionInst=newSession()

In [85]:
#Inserting two records into the table
adult1=Adult(Age=32,workclass='Private',fnlwgt=215646,education='HS-grad',educationnum=9,maritalstatus='Divorced',\
        occupation='cleaners',relationship='Not-in-family',race='White',sex='Male',capitalgain=0,capitalloss=0,hoursperweek=40,\
        nativecountry='India',label='<=50K')
adult2=Adult(Age=69,workclass='Private',fnlwgt=815676,education='HS-grad',educationnum=9,maritalstatus='Married',\
        occupation='cleaners',relationship='Not-in-family',race='Black',sex='Female',capitalgain=0,capitalloss=0,hoursperweek=40,\
        nativecountry='India',label='<=50K')

newSessionInst.add_all([adult1,adult2])

In [93]:
#newSessionInst.rollback()
newSessionInst.query(Adult).count()

2018-08-23 20:56:04,014 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT adults."Age" AS "adults_Age", adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.educationnum AS adults_educationnum, adults.maritalstatus AS adults_maritalstatus, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capitalgain AS adults_capitalgain, adults.capitalloss AS adults_capitalloss, adults.hoursperweek AS adults_hoursperweek, adults.nativecountry AS adults_nativecountry, adults.label AS adults_label
FROM adults) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT count(*) AS count_1
FROM (SELECT adults."Age" AS "adults_Age", adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.educationnum AS adults_educationnum, adults.maritalstatus AS adults_maritalstatus, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capitalgain AS adults_capitalgain, adults.capitalloss AS adults_capitalloss, adults.hoursperweek AS adults_hoursperweek, adults.nativecountry AS adults_nativecountry, adults.label AS adults_label
FROM adults) AS anon_1

2018-08-23 20:56:04,019 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2

In [94]:
#Using filter to update the record
newSessionInst.query(Adult).filter(Adult.Age==32).update({Adult.fnlwgt:333333})

2018-08-23 20:56:14,447 INFO sqlalchemy.engine.base.Engine UPDATE adults SET fnlwgt=? WHERE adults."Age" = ?

INFO:sqlalchemy.engine.base.Engine:UPDATE adults SET fnlwgt=? WHERE adults."Age" = ?

2018-08-23 20:56:14,452 INFO sqlalchemy.engine.base.Engine (333333, 32)

INFO:sqlalchemy.engine.base.Engine:(333333, 32)

1

In [95]:
#Using Filter to update another record
newSessionInst.query(Adult).filter(Adult.Age==69).update({Adult.maritalstatus:'Divorced'})

2018-08-23 20:56:20,091 INFO sqlalchemy.engine.base.Engine UPDATE adults SET maritalstatus=? WHERE adults."Age" = ?

INFO:sqlalchemy.engine.base.Engine:UPDATE adults SET maritalstatus=? WHERE adults."Age" = ?

2018-08-23 20:56:20,096 INFO sqlalchemy.engine.base.Engine ('Divorced', 69)

INFO:sqlalchemy.engine.base.Engine:('Divorced', 69)

1

In [97]:
#retirieving the updated records
newSessionInst.query(Adult).all()

2018-08-23 20:56:49,197 INFO sqlalchemy.engine.base.Engine SELECT adults."Age" AS "adults_Age", adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.educationnum AS adults_educationnum, adults.maritalstatus AS adults_maritalstatus, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capitalgain AS adults_capitalgain, adults.capitalloss AS adults_capitalloss, adults.hoursperweek AS adults_hoursperweek, adults.nativecountry AS adults_nativecountry, adults.label AS adults_label
FROM adults

INFO:sqlalchemy.engine.base.Engine:SELECT adults."Age" AS "adults_Age", adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.educationnum AS adults_educationnum, adults.maritalstatus AS adults_maritalstatus, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capitalgain AS adults_capitalgain, adults.capitalloss AS adults_capitalloss, adults.hoursperweek AS adults_hoursperweek, adults.nativecountry AS adults_nativecountry, adults.label AS adults_label
FROM adults

2018-08-23 20:56:49,201 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[<Adult(Age='32',workclass='Private',fnlwgt='333333',education='HS-grad',educationnum='9',maritalstatus='Divorced',+        occupation='cleaners',relationship='Not-in-family',race='White',sex='Male',capitalgain='0',capitalloss='0',hoursperweek='40',+        nativecountry='India',label='<=50K')>,
 <Adult(Age='69',workclass='Private',fnlwgt='815676',education='HS-grad',educationnum='9',maritalstatus='Divorced',+        occupation='cleaners',relationship='Not-in-family',race='Black',sex='Female',capitalgain='0',capitalloss='0',hoursperweek='40',+        nativecountry='India',label='<=50K')>]

In [151]:
#Inserting another two records to test the delete function
adult1=Adult(Age=55,workclass='Private',fnlwgt=215646,education='HS-grad',educationnum=9,maritalstatus='Divorced',\
        occupation='cleaners',relationship='Not-in-family',race='White',sex='Male',capitalgain=0,capitalloss=0,hoursperweek=40,\
        nativecountry='India',label='<=50K')
adult2=Adult(Age=44,workclass='Private',fnlwgt=815676,education='HS-grad',educationnum=9,maritalstatus='Married',\
        occupation='cleaners',relationship='Not-in-family',race='Black',sex='Female',capitalgain=0,capitalloss=0,hoursperweek=40,\
        nativecountry='India',label='<=50K')

newSessionInst.add_all([adult1,adult2])

In [152]:
#newSessionInst.rollback()
newSessionInst.query(Adult).all()

2018-08-23 21:43:24,845 INFO sqlalchemy.engine.base.Engine ROLLBACK

INFO:sqlalchemy.engine.base.Engine:ROLLBACK

2018-08-23 21:43:24,851 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2018-08-23 21:43:24,856 INFO sqlalchemy.engine.base.Engine SELECT adults."Age" AS "adults_Age", adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.educationnum AS adults_educationnum, adults.maritalstatus AS adults_maritalstatus, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capitalgain AS adults_capitalgain, adults.capitalloss AS adults_capitalloss, adults.hoursperweek AS adults_hoursperweek, adults.nativecountry AS adults_nativecountry, adults.label AS adults_label
FROM adults

INFO:sqlalchemy.engine.base.Engine:SELECT adults."Age" AS "adults_Age", adults.workclass AS adults_workclass, adults.fnlwgt AS adults_fnlwgt, adults.education AS adults_education, adults.educationnum AS adults_educationnum, adults.maritalstatus AS adults_maritalstatus, adults.occupation AS adults_occupation, adults.relationship AS adults_relationship, adults.race AS adults_race, adults.sex AS adults_sex, adults.capitalgain AS adults_capitalgain, adults.capitalloss AS adults_capitalloss, adults.hoursperweek AS adults_hoursperweek, adults.nativecountry AS adults_nativecountry, adults.label AS adults_label
FROM adults

2018-08-23 21:43:24,860 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[<Adult(Age='32',workclass='Private',fnlwgt='333333',education='HS-grad',educationnum='9',maritalstatus='Divorced',+        occupation='cleaners',relationship='Not-in-family',race='White',sex='Male',capitalgain='0',capitalloss='0',hoursperweek='40',+        nativecountry='India',label='<=50K')>,
 <Adult(Age='69',workclass='Private',fnlwgt='815676',education='HS-grad',educationnum='9',maritalstatus='Divorced',+        occupation='cleaners',relationship='Not-in-family',race='Black',sex='Female',capitalgain='0',capitalloss='0',hoursperweek='40',+        nativecountry='India',label='<=50K')>]

In [130]:
#Using the execute method to execute the Select query
conn = eng.connect()
result=conn.execute("select * from adults")
result.fetchall()

2018-08-23 21:37:44,906 INFO sqlalchemy.engine.base.Engine select * from adults

INFO:sqlalchemy.engine.base.Engine:select * from adults

2018-08-23 21:37:44,910 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[(32, 'Private', 333333, 'HS-grad', 9, 'Divorced', 'cleaners', 'Not-in-family', 'White', 'Male', 0, 0, 40, 'India', '<=50K'),
 (44, 'Private', 815676, 'HS-grad', 9, 'Married', 'cleaners', 'Not-in-family', 'Black', 'Female', 0, 0, 40, 'India', '<=50K'),
 (55, 'Private', 215646, 'HS-grad', 9, 'Divorced', 'cleaners', 'Not-in-family', 'White', 'Male', 0, 0, 40, 'India', '<=50K'),
 (69, 'Private', 815676, 'HS-grad', 9, 'Divorced', 'cleaners', 'Not-in-family', 'Black', 'Female', 0, 0, 40, 'India', '<=50K')]

In [131]:
#Deleting the two records inserted earlier
conn.execute("Delete from adults where Age in(44,55)")

2018-08-23 21:38:45,018 INFO sqlalchemy.engine.base.Engine Delete from adults where Age in(44,55)

INFO:sqlalchemy.engine.base.Engine:Delete from adults where Age in(44,55)

2018-08-23 21:38:45,022 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2018-08-23 21:38:45,027 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [132]:
#retrieving the records after executing delete function
result=conn.execute("select * from adults")
result.fetchall()

2018-08-23 21:38:46,963 INFO sqlalchemy.engine.base.Engine select * from adults

INFO:sqlalchemy.engine.base.Engine:select * from adults

2018-08-23 21:38:46,966 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[(32, 'Private', 333333, 'HS-grad', 9, 'Divorced', 'cleaners', 'Not-in-family', 'White', 'Male', 0, 0, 40, 'India', '<=50K'),
 (69, 'Private', 815676, 'HS-grad', 9, 'Divorced', 'cleaners', 'Not-in-family', 'Black', 'Female', 0, 0, 40, 'India', '<=50K')]

In [159]:
#Using a function query -func.max
from sqlalchemy import func
newSessionInst.query(func.max(Adult.Age)).all()

2018-08-23 22:13:54,615 INFO sqlalchemy.engine.base.Engine SELECT max(adults."Age") AS max_1
FROM adults

INFO:sqlalchemy.engine.base.Engine:SELECT max(adults."Age") AS max_1
FROM adults

2018-08-23 22:13:54,619 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[(69)]

In [162]:
#Using a function query func.avg
newSessionInst.query(func.avg(Adult.Age)).all()

2018-08-23 22:15:00,630 INFO sqlalchemy.engine.base.Engine SELECT avg(adults."Age") AS avg_1
FROM adults

INFO:sqlalchemy.engine.base.Engine:SELECT avg(adults."Age") AS avg_1
FROM adults

2018-08-23 22:15:00,634 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[(50.5)]